experiments/resource-utilization-growing-flows-with-reasoning-2/results/20260208-122223-1CPU-1gRAM/scaled_flows/nodered-default-flows.x16.json
[
  {
    "id": "249d477bae20f87a",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "5887eb05077a5c03",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a482d619f57748b0",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f0acb0cb6d18867a",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "58a8e7da0e13d73f",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99",
    "type": "comment",
    "z": "249d477bae20f87a",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c",
    "type": "comment",
    "z": "249d477bae20f87a",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f",
    "type": "comment",
    "z": "249d477bae20f87a",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435",
    "type": "comment",
    "z": "249d477bae20f87a",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "1d2f3dd88b82a3df",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "b3950769531511d2",
    "type": "inject",
    "z": "5887eb05077a5c03",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b",
    "type": "change",
    "z": "5887eb05077a5c03",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3",
    "type": "range",
    "z": "5887eb05077a5c03",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9",
    "type": "debug",
    "z": "5887eb05077a5c03",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e",
    "type": "comment",
    "z": "5887eb05077a5c03",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "f62732dfdb6456e9",
    "type": "inject",
    "z": "a482d619f57748b0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f",
    "type": "function",
    "z": "a482d619f57748b0",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab",
    "type": "change",
    "z": "a482d619f57748b0",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f",
        "023b526ff4cdef8c"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c",
    "type": "debug",
    "z": "a482d619f57748b0",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68",
    "type": "comment",
    "z": "a482d619f57748b0",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "d43534c34a4a54ce",
    "type": "inject",
    "z": "f0acb0cb6d18867a",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c",
    "type": "debug",
    "z": "f0acb0cb6d18867a",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c",
    "type": "comment",
    "z": "f0acb0cb6d18867a",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "7b7af83db6639bcd",
    "type": "comment",
    "z": "58a8e7da0e13d73f",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2",
    "type": "comment",
    "z": "58a8e7da0e13d73f",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_2",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_2",
    "type": "comment",
    "z": "249d477bae20f87a_2",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_2",
    "type": "comment",
    "z": "249d477bae20f87a_2",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_2",
    "type": "comment",
    "z": "249d477bae20f87a_2",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_2",
    "type": "comment",
    "z": "249d477bae20f87a_2",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_2",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_2",
    "type": "inject",
    "z": "f6f2187d.f17ca8_2",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_2"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_2",
    "type": "function",
    "z": "f6f2187d.f17ca8_2",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_2",
    "type": "comment",
    "z": "f6f2187d.f17ca8_2",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_2",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_2",
    "type": "inject",
    "z": "5887eb05077a5c03_2",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_2"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_2",
    "type": "change",
    "z": "5887eb05077a5c03_2",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_2"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_2",
    "type": "range",
    "z": "5887eb05077a5c03_2",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_2"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_2",
    "type": "debug",
    "z": "5887eb05077a5c03_2",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_2",
    "type": "comment",
    "z": "5887eb05077a5c03_2",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_2",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_2",
    "type": "inject",
    "z": "a482d619f57748b0_2",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_2"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_2",
    "type": "function",
    "z": "a482d619f57748b0_2",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_2"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_2",
    "type": "change",
    "z": "a482d619f57748b0_2",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_2",
        "023b526ff4cdef8c_2"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_2",
    "type": "debug",
    "z": "a482d619f57748b0_2",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_2",
    "type": "comment",
    "z": "a482d619f57748b0_2",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_2",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_2",
    "type": "inject",
    "z": "f0acb0cb6d18867a_2",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_2"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_2",
    "type": "debug",
    "z": "f0acb0cb6d18867a_2",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_2",
    "type": "comment",
    "z": "f0acb0cb6d18867a_2",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_2",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_2",
    "type": "comment",
    "z": "58a8e7da0e13d73f_2",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_2",
    "type": "comment",
    "z": "58a8e7da0e13d73f_2",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_3",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_3",
    "type": "comment",
    "z": "249d477bae20f87a_3",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_3",
    "type": "comment",
    "z": "249d477bae20f87a_3",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_3",
    "type": "comment",
    "z": "249d477bae20f87a_3",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_3",
    "type": "comment",
    "z": "249d477bae20f87a_3",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_3",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_3",
    "type": "inject",
    "z": "f6f2187d.f17ca8_3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_3"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_3",
    "type": "function",
    "z": "f6f2187d.f17ca8_3",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_3",
    "type": "comment",
    "z": "f6f2187d.f17ca8_3",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_3",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_3",
    "type": "inject",
    "z": "5887eb05077a5c03_3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_3"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_3",
    "type": "change",
    "z": "5887eb05077a5c03_3",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_3"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_3",
    "type": "range",
    "z": "5887eb05077a5c03_3",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_3"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_3",
    "type": "debug",
    "z": "5887eb05077a5c03_3",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_3",
    "type": "comment",
    "z": "5887eb05077a5c03_3",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_3",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_3",
    "type": "inject",
    "z": "a482d619f57748b0_3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_3"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_3",
    "type": "function",
    "z": "a482d619f57748b0_3",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_3"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_3",
    "type": "change",
    "z": "a482d619f57748b0_3",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_3",
        "023b526ff4cdef8c_3"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_3",
    "type": "debug",
    "z": "a482d619f57748b0_3",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_3",
    "type": "comment",
    "z": "a482d619f57748b0_3",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_3",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_3",
    "type": "inject",
    "z": "f0acb0cb6d18867a_3",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_3"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_3",
    "type": "debug",
    "z": "f0acb0cb6d18867a_3",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_3",
    "type": "comment",
    "z": "f0acb0cb6d18867a_3",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_3",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_3",
    "type": "comment",
    "z": "58a8e7da0e13d73f_3",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_3",
    "type": "comment",
    "z": "58a8e7da0e13d73f_3",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_4",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_4",
    "type": "comment",
    "z": "249d477bae20f87a_4",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_4",
    "type": "comment",
    "z": "249d477bae20f87a_4",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_4",
    "type": "comment",
    "z": "249d477bae20f87a_4",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_4",
    "type": "comment",
    "z": "249d477bae20f87a_4",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_4",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_4",
    "type": "inject",
    "z": "f6f2187d.f17ca8_4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_4"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_4",
    "type": "function",
    "z": "f6f2187d.f17ca8_4",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_4",
    "type": "comment",
    "z": "f6f2187d.f17ca8_4",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_4",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_4",
    "type": "inject",
    "z": "5887eb05077a5c03_4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_4"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_4",
    "type": "change",
    "z": "5887eb05077a5c03_4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_4"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_4",
    "type": "range",
    "z": "5887eb05077a5c03_4",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_4"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_4",
    "type": "debug",
    "z": "5887eb05077a5c03_4",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_4",
    "type": "comment",
    "z": "5887eb05077a5c03_4",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_4",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_4",
    "type": "inject",
    "z": "a482d619f57748b0_4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_4"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_4",
    "type": "function",
    "z": "a482d619f57748b0_4",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_4"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_4",
    "type": "change",
    "z": "a482d619f57748b0_4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_4",
        "023b526ff4cdef8c_4"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_4",
    "type": "debug",
    "z": "a482d619f57748b0_4",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_4",
    "type": "comment",
    "z": "a482d619f57748b0_4",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_4",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_4",
    "type": "inject",
    "z": "f0acb0cb6d18867a_4",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_4"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_4",
    "type": "debug",
    "z": "f0acb0cb6d18867a_4",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_4",
    "type": "comment",
    "z": "f0acb0cb6d18867a_4",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_4",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_4",
    "type": "comment",
    "z": "58a8e7da0e13d73f_4",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_4",
    "type": "comment",
    "z": "58a8e7da0e13d73f_4",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_5",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_5",
    "type": "comment",
    "z": "249d477bae20f87a_5",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_5",
    "type": "comment",
    "z": "249d477bae20f87a_5",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_5",
    "type": "comment",
    "z": "249d477bae20f87a_5",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_5",
    "type": "comment",
    "z": "249d477bae20f87a_5",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_5",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_5",
    "type": "inject",
    "z": "f6f2187d.f17ca8_5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_5"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_5",
    "type": "function",
    "z": "f6f2187d.f17ca8_5",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_5",
    "type": "comment",
    "z": "f6f2187d.f17ca8_5",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_5",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_5",
    "type": "inject",
    "z": "5887eb05077a5c03_5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_5"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_5",
    "type": "change",
    "z": "5887eb05077a5c03_5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_5"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_5",
    "type": "range",
    "z": "5887eb05077a5c03_5",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_5"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_5",
    "type": "debug",
    "z": "5887eb05077a5c03_5",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_5",
    "type": "comment",
    "z": "5887eb05077a5c03_5",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_5",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_5",
    "type": "inject",
    "z": "a482d619f57748b0_5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_5"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_5",
    "type": "function",
    "z": "a482d619f57748b0_5",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_5"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_5",
    "type": "change",
    "z": "a482d619f57748b0_5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_5",
        "023b526ff4cdef8c_5"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_5",
    "type": "debug",
    "z": "a482d619f57748b0_5",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_5",
    "type": "comment",
    "z": "a482d619f57748b0_5",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_5",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_5",
    "type": "inject",
    "z": "f0acb0cb6d18867a_5",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_5"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_5",
    "type": "debug",
    "z": "f0acb0cb6d18867a_5",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_5",
    "type": "comment",
    "z": "f0acb0cb6d18867a_5",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_5",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_5",
    "type": "comment",
    "z": "58a8e7da0e13d73f_5",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_5",
    "type": "comment",
    "z": "58a8e7da0e13d73f_5",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_6",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_6",
    "type": "comment",
    "z": "249d477bae20f87a_6",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_6",
    "type": "comment",
    "z": "249d477bae20f87a_6",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_6",
    "type": "comment",
    "z": "249d477bae20f87a_6",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_6",
    "type": "comment",
    "z": "249d477bae20f87a_6",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_6",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_6",
    "type": "inject",
    "z": "f6f2187d.f17ca8_6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_6"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_6",
    "type": "function",
    "z": "f6f2187d.f17ca8_6",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_6",
    "type": "comment",
    "z": "f6f2187d.f17ca8_6",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_6",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_6",
    "type": "inject",
    "z": "5887eb05077a5c03_6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_6"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_6",
    "type": "change",
    "z": "5887eb05077a5c03_6",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_6"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_6",
    "type": "range",
    "z": "5887eb05077a5c03_6",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_6"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_6",
    "type": "debug",
    "z": "5887eb05077a5c03_6",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_6",
    "type": "comment",
    "z": "5887eb05077a5c03_6",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_6",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_6",
    "type": "inject",
    "z": "a482d619f57748b0_6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_6"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_6",
    "type": "function",
    "z": "a482d619f57748b0_6",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_6"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_6",
    "type": "change",
    "z": "a482d619f57748b0_6",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_6",
        "023b526ff4cdef8c_6"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_6",
    "type": "debug",
    "z": "a482d619f57748b0_6",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_6",
    "type": "comment",
    "z": "a482d619f57748b0_6",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_6",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_6",
    "type": "inject",
    "z": "f0acb0cb6d18867a_6",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_6"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_6",
    "type": "debug",
    "z": "f0acb0cb6d18867a_6",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_6",
    "type": "comment",
    "z": "f0acb0cb6d18867a_6",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_6",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_6",
    "type": "comment",
    "z": "58a8e7da0e13d73f_6",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_6",
    "type": "comment",
    "z": "58a8e7da0e13d73f_6",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_7",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_7",
    "type": "comment",
    "z": "249d477bae20f87a_7",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_7",
    "type": "comment",
    "z": "249d477bae20f87a_7",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_7",
    "type": "comment",
    "z": "249d477bae20f87a_7",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_7",
    "type": "comment",
    "z": "249d477bae20f87a_7",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_7",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_7",
    "type": "inject",
    "z": "f6f2187d.f17ca8_7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_7"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_7",
    "type": "function",
    "z": "f6f2187d.f17ca8_7",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_7",
    "type": "comment",
    "z": "f6f2187d.f17ca8_7",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_7",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_7",
    "type": "inject",
    "z": "5887eb05077a5c03_7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_7"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_7",
    "type": "change",
    "z": "5887eb05077a5c03_7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_7"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_7",
    "type": "range",
    "z": "5887eb05077a5c03_7",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_7"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_7",
    "type": "debug",
    "z": "5887eb05077a5c03_7",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_7",
    "type": "comment",
    "z": "5887eb05077a5c03_7",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_7",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_7",
    "type": "inject",
    "z": "a482d619f57748b0_7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_7"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_7",
    "type": "function",
    "z": "a482d619f57748b0_7",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_7"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_7",
    "type": "change",
    "z": "a482d619f57748b0_7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_7",
        "023b526ff4cdef8c_7"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_7",
    "type": "debug",
    "z": "a482d619f57748b0_7",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_7",
    "type": "comment",
    "z": "a482d619f57748b0_7",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_7",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_7",
    "type": "inject",
    "z": "f0acb0cb6d18867a_7",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_7"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_7",
    "type": "debug",
    "z": "f0acb0cb6d18867a_7",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_7",
    "type": "comment",
    "z": "f0acb0cb6d18867a_7",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_7",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_7",
    "type": "comment",
    "z": "58a8e7da0e13d73f_7",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_7",
    "type": "comment",
    "z": "58a8e7da0e13d73f_7",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_8",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_8",
    "type": "comment",
    "z": "249d477bae20f87a_8",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_8",
    "type": "comment",
    "z": "249d477bae20f87a_8",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_8",
    "type": "comment",
    "z": "249d477bae20f87a_8",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_8",
    "type": "comment",
    "z": "249d477bae20f87a_8",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_8",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_8",
    "type": "inject",
    "z": "f6f2187d.f17ca8_8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_8"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_8",
    "type": "function",
    "z": "f6f2187d.f17ca8_8",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_8",
    "type": "comment",
    "z": "f6f2187d.f17ca8_8",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_8",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_8",
    "type": "inject",
    "z": "5887eb05077a5c03_8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_8"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_8",
    "type": "change",
    "z": "5887eb05077a5c03_8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_8"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_8",
    "type": "range",
    "z": "5887eb05077a5c03_8",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_8"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_8",
    "type": "debug",
    "z": "5887eb05077a5c03_8",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_8",
    "type": "comment",
    "z": "5887eb05077a5c03_8",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_8",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_8",
    "type": "inject",
    "z": "a482d619f57748b0_8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_8"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_8",
    "type": "function",
    "z": "a482d619f57748b0_8",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_8"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_8",
    "type": "change",
    "z": "a482d619f57748b0_8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_8",
        "023b526ff4cdef8c_8"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_8",
    "type": "debug",
    "z": "a482d619f57748b0_8",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_8",
    "type": "comment",
    "z": "a482d619f57748b0_8",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_8",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_8",
    "type": "inject",
    "z": "f0acb0cb6d18867a_8",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_8"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_8",
    "type": "debug",
    "z": "f0acb0cb6d18867a_8",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_8",
    "type": "comment",
    "z": "f0acb0cb6d18867a_8",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_8",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_8",
    "type": "comment",
    "z": "58a8e7da0e13d73f_8",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_8",
    "type": "comment",
    "z": "58a8e7da0e13d73f_8",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_9",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_9",
    "type": "comment",
    "z": "249d477bae20f87a_9",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_9",
    "type": "comment",
    "z": "249d477bae20f87a_9",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_9",
    "type": "comment",
    "z": "249d477bae20f87a_9",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_9",
    "type": "comment",
    "z": "249d477bae20f87a_9",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_9",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_9",
    "type": "inject",
    "z": "f6f2187d.f17ca8_9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_9"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_9",
    "type": "function",
    "z": "f6f2187d.f17ca8_9",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_9",
    "type": "comment",
    "z": "f6f2187d.f17ca8_9",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_9",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_9",
    "type": "inject",
    "z": "5887eb05077a5c03_9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_9"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_9",
    "type": "change",
    "z": "5887eb05077a5c03_9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_9"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_9",
    "type": "range",
    "z": "5887eb05077a5c03_9",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_9"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_9",
    "type": "debug",
    "z": "5887eb05077a5c03_9",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_9",
    "type": "comment",
    "z": "5887eb05077a5c03_9",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_9",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_9",
    "type": "inject",
    "z": "a482d619f57748b0_9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_9"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_9",
    "type": "function",
    "z": "a482d619f57748b0_9",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_9"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_9",
    "type": "change",
    "z": "a482d619f57748b0_9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_9",
        "023b526ff4cdef8c_9"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_9",
    "type": "debug",
    "z": "a482d619f57748b0_9",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_9",
    "type": "comment",
    "z": "a482d619f57748b0_9",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_9",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_9",
    "type": "inject",
    "z": "f0acb0cb6d18867a_9",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_9"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_9",
    "type": "debug",
    "z": "f0acb0cb6d18867a_9",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_9",
    "type": "comment",
    "z": "f0acb0cb6d18867a_9",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_9",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_9",
    "type": "comment",
    "z": "58a8e7da0e13d73f_9",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_9",
    "type": "comment",
    "z": "58a8e7da0e13d73f_9",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_10",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_10",
    "type": "comment",
    "z": "249d477bae20f87a_10",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_10",
    "type": "comment",
    "z": "249d477bae20f87a_10",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_10",
    "type": "comment",
    "z": "249d477bae20f87a_10",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_10",
    "type": "comment",
    "z": "249d477bae20f87a_10",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_10",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_10",
    "type": "inject",
    "z": "f6f2187d.f17ca8_10",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_10"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_10",
    "type": "function",
    "z": "f6f2187d.f17ca8_10",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_10",
    "type": "comment",
    "z": "f6f2187d.f17ca8_10",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_10",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_10",
    "type": "inject",
    "z": "5887eb05077a5c03_10",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_10"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_10",
    "type": "change",
    "z": "5887eb05077a5c03_10",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_10"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_10",
    "type": "range",
    "z": "5887eb05077a5c03_10",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_10"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_10",
    "type": "debug",
    "z": "5887eb05077a5c03_10",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_10",
    "type": "comment",
    "z": "5887eb05077a5c03_10",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_10",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_10",
    "type": "inject",
    "z": "a482d619f57748b0_10",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_10"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_10",
    "type": "function",
    "z": "a482d619f57748b0_10",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_10"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_10",
    "type": "change",
    "z": "a482d619f57748b0_10",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_10",
        "023b526ff4cdef8c_10"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_10",
    "type": "debug",
    "z": "a482d619f57748b0_10",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_10",
    "type": "comment",
    "z": "a482d619f57748b0_10",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_10",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_10",
    "type": "inject",
    "z": "f0acb0cb6d18867a_10",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_10"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_10",
    "type": "debug",
    "z": "f0acb0cb6d18867a_10",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_10",
    "type": "comment",
    "z": "f0acb0cb6d18867a_10",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_10",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_10",
    "type": "comment",
    "z": "58a8e7da0e13d73f_10",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_10",
    "type": "comment",
    "z": "58a8e7da0e13d73f_10",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_11",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_11",
    "type": "comment",
    "z": "249d477bae20f87a_11",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_11",
    "type": "comment",
    "z": "249d477bae20f87a_11",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_11",
    "type": "comment",
    "z": "249d477bae20f87a_11",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_11",
    "type": "comment",
    "z": "249d477bae20f87a_11",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_11",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_11",
    "type": "inject",
    "z": "f6f2187d.f17ca8_11",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_11"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_11",
    "type": "function",
    "z": "f6f2187d.f17ca8_11",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_11",
    "type": "comment",
    "z": "f6f2187d.f17ca8_11",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_11",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_11",
    "type": "inject",
    "z": "5887eb05077a5c03_11",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_11"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_11",
    "type": "change",
    "z": "5887eb05077a5c03_11",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_11"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_11",
    "type": "range",
    "z": "5887eb05077a5c03_11",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_11"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_11",
    "type": "debug",
    "z": "5887eb05077a5c03_11",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_11",
    "type": "comment",
    "z": "5887eb05077a5c03_11",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_11",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_11",
    "type": "inject",
    "z": "a482d619f57748b0_11",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_11"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_11",
    "type": "function",
    "z": "a482d619f57748b0_11",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_11"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_11",
    "type": "change",
    "z": "a482d619f57748b0_11",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_11",
        "023b526ff4cdef8c_11"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_11",
    "type": "debug",
    "z": "a482d619f57748b0_11",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_11",
    "type": "comment",
    "z": "a482d619f57748b0_11",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_11",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_11",
    "type": "inject",
    "z": "f0acb0cb6d18867a_11",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_11"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_11",
    "type": "debug",
    "z": "f0acb0cb6d18867a_11",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_11",
    "type": "comment",
    "z": "f0acb0cb6d18867a_11",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_11",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_11",
    "type": "comment",
    "z": "58a8e7da0e13d73f_11",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_11",
    "type": "comment",
    "z": "58a8e7da0e13d73f_11",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_12",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_12",
    "type": "comment",
    "z": "249d477bae20f87a_12",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_12",
    "type": "comment",
    "z": "249d477bae20f87a_12",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_12",
    "type": "comment",
    "z": "249d477bae20f87a_12",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_12",
    "type": "comment",
    "z": "249d477bae20f87a_12",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_12",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_12",
    "type": "inject",
    "z": "f6f2187d.f17ca8_12",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_12"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_12",
    "type": "function",
    "z": "f6f2187d.f17ca8_12",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_12",
    "type": "comment",
    "z": "f6f2187d.f17ca8_12",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_12",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_12",
    "type": "inject",
    "z": "5887eb05077a5c03_12",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_12"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_12",
    "type": "change",
    "z": "5887eb05077a5c03_12",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_12"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_12",
    "type": "range",
    "z": "5887eb05077a5c03_12",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_12"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_12",
    "type": "debug",
    "z": "5887eb05077a5c03_12",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_12",
    "type": "comment",
    "z": "5887eb05077a5c03_12",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_12",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_12",
    "type": "inject",
    "z": "a482d619f57748b0_12",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_12"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_12",
    "type": "function",
    "z": "a482d619f57748b0_12",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_12"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_12",
    "type": "change",
    "z": "a482d619f57748b0_12",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_12",
        "023b526ff4cdef8c_12"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_12",
    "type": "debug",
    "z": "a482d619f57748b0_12",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_12",
    "type": "comment",
    "z": "a482d619f57748b0_12",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_12",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_12",
    "type": "inject",
    "z": "f0acb0cb6d18867a_12",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_12"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_12",
    "type": "debug",
    "z": "f0acb0cb6d18867a_12",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_12",
    "type": "comment",
    "z": "f0acb0cb6d18867a_12",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_12",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_12",
    "type": "comment",
    "z": "58a8e7da0e13d73f_12",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_12",
    "type": "comment",
    "z": "58a8e7da0e13d73f_12",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_13",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_13",
    "type": "comment",
    "z": "249d477bae20f87a_13",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_13",
    "type": "comment",
    "z": "249d477bae20f87a_13",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_13",
    "type": "comment",
    "z": "249d477bae20f87a_13",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_13",
    "type": "comment",
    "z": "249d477bae20f87a_13",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_13",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_13",
    "type": "inject",
    "z": "f6f2187d.f17ca8_13",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_13"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_13",
    "type": "function",
    "z": "f6f2187d.f17ca8_13",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_13",
    "type": "comment",
    "z": "f6f2187d.f17ca8_13",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_13",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_13",
    "type": "inject",
    "z": "5887eb05077a5c03_13",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_13"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_13",
    "type": "change",
    "z": "5887eb05077a5c03_13",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_13"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_13",
    "type": "range",
    "z": "5887eb05077a5c03_13",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_13"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_13",
    "type": "debug",
    "z": "5887eb05077a5c03_13",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_13",
    "type": "comment",
    "z": "5887eb05077a5c03_13",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_13",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_13",
    "type": "inject",
    "z": "a482d619f57748b0_13",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_13"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_13",
    "type": "function",
    "z": "a482d619f57748b0_13",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_13"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_13",
    "type": "change",
    "z": "a482d619f57748b0_13",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_13",
        "023b526ff4cdef8c_13"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_13",
    "type": "debug",
    "z": "a482d619f57748b0_13",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_13",
    "type": "comment",
    "z": "a482d619f57748b0_13",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_13",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_13",
    "type": "inject",
    "z": "f0acb0cb6d18867a_13",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_13"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_13",
    "type": "debug",
    "z": "f0acb0cb6d18867a_13",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_13",
    "type": "comment",
    "z": "f0acb0cb6d18867a_13",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_13",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_13",
    "type": "comment",
    "z": "58a8e7da0e13d73f_13",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_13",
    "type": "comment",
    "z": "58a8e7da0e13d73f_13",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_14",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_14",
    "type": "comment",
    "z": "249d477bae20f87a_14",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_14",
    "type": "comment",
    "z": "249d477bae20f87a_14",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_14",
    "type": "comment",
    "z": "249d477bae20f87a_14",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_14",
    "type": "comment",
    "z": "249d477bae20f87a_14",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_14",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_14",
    "type": "inject",
    "z": "f6f2187d.f17ca8_14",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_14"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_14",
    "type": "function",
    "z": "f6f2187d.f17ca8_14",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_14",
    "type": "comment",
    "z": "f6f2187d.f17ca8_14",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_14",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_14",
    "type": "inject",
    "z": "5887eb05077a5c03_14",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_14"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_14",
    "type": "change",
    "z": "5887eb05077a5c03_14",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_14"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_14",
    "type": "range",
    "z": "5887eb05077a5c03_14",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_14"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_14",
    "type": "debug",
    "z": "5887eb05077a5c03_14",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_14",
    "type": "comment",
    "z": "5887eb05077a5c03_14",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_14",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_14",
    "type": "inject",
    "z": "a482d619f57748b0_14",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_14"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_14",
    "type": "function",
    "z": "a482d619f57748b0_14",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_14"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_14",
    "type": "change",
    "z": "a482d619f57748b0_14",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_14",
        "023b526ff4cdef8c_14"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_14",
    "type": "debug",
    "z": "a482d619f57748b0_14",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_14",
    "type": "comment",
    "z": "a482d619f57748b0_14",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_14",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_14",
    "type": "inject",
    "z": "f0acb0cb6d18867a_14",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_14"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_14",
    "type": "debug",
    "z": "f0acb0cb6d18867a_14",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_14",
    "type": "comment",
    "z": "f0acb0cb6d18867a_14",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_14",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_14",
    "type": "comment",
    "z": "58a8e7da0e13d73f_14",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_14",
    "type": "comment",
    "z": "58a8e7da0e13d73f_14",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_15",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_15",
    "type": "comment",
    "z": "249d477bae20f87a_15",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_15",
    "type": "comment",
    "z": "249d477bae20f87a_15",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_15",
    "type": "comment",
    "z": "249d477bae20f87a_15",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_15",
    "type": "comment",
    "z": "249d477bae20f87a_15",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_15",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_15",
    "type": "inject",
    "z": "f6f2187d.f17ca8_15",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_15"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_15",
    "type": "function",
    "z": "f6f2187d.f17ca8_15",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_15",
    "type": "comment",
    "z": "f6f2187d.f17ca8_15",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_15",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_15",
    "type": "inject",
    "z": "5887eb05077a5c03_15",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_15"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_15",
    "type": "change",
    "z": "5887eb05077a5c03_15",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_15"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_15",
    "type": "range",
    "z": "5887eb05077a5c03_15",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_15"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_15",
    "type": "debug",
    "z": "5887eb05077a5c03_15",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_15",
    "type": "comment",
    "z": "5887eb05077a5c03_15",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_15",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_15",
    "type": "inject",
    "z": "a482d619f57748b0_15",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_15"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_15",
    "type": "function",
    "z": "a482d619f57748b0_15",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_15"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_15",
    "type": "change",
    "z": "a482d619f57748b0_15",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_15",
        "023b526ff4cdef8c_15"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_15",
    "type": "debug",
    "z": "a482d619f57748b0_15",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_15",
    "type": "comment",
    "z": "a482d619f57748b0_15",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_15",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_15",
    "type": "inject",
    "z": "f0acb0cb6d18867a_15",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_15"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_15",
    "type": "debug",
    "z": "f0acb0cb6d18867a_15",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_15",
    "type": "comment",
    "z": "f0acb0cb6d18867a_15",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_15",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_15",
    "type": "comment",
    "z": "58a8e7da0e13d73f_15",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_15",
    "type": "comment",
    "z": "58a8e7da0e13d73f_15",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "249d477bae20f87a_16",
    "type": "tab",
    "label": "Intro",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ed1e5dbc49b9e99_16",
    "type": "comment",
    "z": "249d477bae20f87a_16",
    "name": "Example rules have been preloaded at startup. ",
    "info": "",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "abe95c85adeb961c_16",
    "type": "comment",
    "z": "249d477bae20f87a_16",
    "name": "Example flows have also been preloaded at startup to make you see those rules in action.",
    "info": "",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d3f97343e44ab1f_16",
    "type": "comment",
    "z": "249d477bae20f87a_16",
    "name": "Open the uRDF sidebar and navigate to the action \"Configure\" to inspect the rules.",
    "info": "",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "b831c5af7d68f435_16",
    "type": "comment",
    "z": "249d477bae20f87a_16",
    "name": "Open the uRDF sidebar and navigate to the action \"Reason\" to inspect what was inferred by the example rules applied to the example flows.",
    "info": "",
    "x": 500,
    "y": 240,
    "wires": []
  },
  {
    "id": "f6f2187d.f17ca8_16",
    "type": "tab",
    "label": "Function without output",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d2f3dd88b82a3df_16",
    "type": "inject",
    "z": "f6f2187d.f17ca8_16",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f55ddcdb94ae8b1a_16"
      ]
    ]
  },
  {
    "id": "f55ddcdb94ae8b1a_16",
    "type": "function",
    "z": "f6f2187d.f17ca8_16",
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1b7f5a60849144a1_16",
    "type": "comment",
    "z": "f6f2187d.f17ca8_16",
    "name": "The function node in this flow will be flagged because it has no output.",
    "info": "",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "5887eb05077a5c03_16",
    "type": "tab",
    "label": "Similar to cookbook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b3950769531511d2_16",
    "type": "inject",
    "z": "5887eb05077a5c03_16",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "9db0c193025da52b_16"
      ]
    ]
  },
  {
    "id": "9db0c193025da52b_16",
    "type": "change",
    "z": "5887eb05077a5c03_16",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      [
        "dcec0e49be728db3_16"
      ]
    ]
  },
  {
    "id": "dcec0e49be728db3_16",
    "type": "range",
    "z": "5887eb05077a5c03_16",
    "minin": "",
    "maxin": "",
    "minout": "",
    "maxout": "",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 120,
    "wires": [
      [
        "89c017931b79c3c9_16"
      ]
    ]
  },
  {
    "id": "89c017931b79c3c9_16",
    "type": "debug",
    "z": "5887eb05077a5c03_16",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "8d46e9992422bb1e_16",
    "type": "comment",
    "z": "5887eb05077a5c03_16",
    "name": "Import example library flows using the tool flows-json-to-jsonld. This flow will be linked to one of such example flows because it uses the same types of nodes.",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "a482d619f57748b0_16",
    "type": "tab",
    "label": "Loop",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f62732dfdb6456e9_16",
    "type": "inject",
    "z": "a482d619f57748b0_16",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 120,
    "wires": [
      [
        "b5053a2d10604b9f_16"
      ]
    ]
  },
  {
    "id": "b5053a2d10604b9f_16",
    "type": "function",
    "z": "a482d619f57748b0_16",
    "name": "function 2",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "1e106aca59b53bab_16"
      ]
    ]
  },
  {
    "id": "1e106aca59b53bab_16",
    "type": "change",
    "z": "a482d619f57748b0_16",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "b5053a2d10604b9f_16",
        "023b526ff4cdef8c_16"
      ]
    ]
  },
  {
    "id": "023b526ff4cdef8c_16",
    "type": "debug",
    "z": "a482d619f57748b0_16",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "eb7b53e827075b68_16",
    "type": "comment",
    "z": "a482d619f57748b0_16",
    "name": "The function and change nodes in this flow will be flagged because they form a loop.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "f0acb0cb6d18867a_16",
    "type": "tab",
    "label": "Same name",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d43534c34a4a54ce_16",
    "type": "inject",
    "z": "f0acb0cb6d18867a_16",
    "name": "Hello",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "773192bab4698d7c_16"
      ]
    ]
  },
  {
    "id": "773192bab4698d7c_16",
    "type": "debug",
    "z": "f0acb0cb6d18867a_16",
    "name": "Hello",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 100,
    "wires": []
  },
  {
    "id": "445f43a4b9bd206c_16",
    "type": "comment",
    "z": "f0acb0cb6d18867a_16",
    "name": "The nodes in this flow will be flqgged because they have the same name.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "58a8e7da0e13d73f_16",
    "type": "tab",
    "label": "Issues and forum posts",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7b7af83db6639bcd_16",
    "type": "comment",
    "z": "58a8e7da0e13d73f_16",
    "name": "Load the example Node-RED GitHub issues and Node-RED forum posts using the tools github-issues-to-jsonld and discourse-forum-to-jsonld. ",
    "info": "",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "6656a2b23cb6c5e2_16",
    "type": "comment",
    "z": "58a8e7da0e13d73f_16",
    "name": "Nodes will be linked to issues and forum posts based on node type and issue/post title.",
    "info": "",
    "x": 340,
    "y": 140,
    "wires": []
  }
]